body,
a,
button {
    cursor: none;
}

.cursor-dot {
    width: 6px;
    height: 24px;
    background: #38bdf8;
    border-radius: 4px;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: all 0.05s linear;
    box-shadow: 0 0 8px #38bdf8;
}


/* Hide on mobile */

@media (max-width: 768px) {
    .cursor-dot {
        display: none;
    }
    body,
    a,
    button {
        cursor: auto;
    }
}