.cursor-dot {
    width: 20px;
    height: 20px;
    background: #38bdf8;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 10000;
    transform: translate(-50%, -50%);
    transition: transform 0.08s ease, opacity 0.2s ease;
    mix-blend-mode: difference;
}


/* Keep same cursor on hover */

.cursor-hover {
    width: 20px;
    height: 20px;
    background: #38bdf8;
    opacity: 1;
}

@media (max-width: 768px) {
    .cursor-dot {
        display: none;
    }
}

.custom-cursor,
.cursor-dot {
    pointer-events: none;
}